<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webtoapp.basetwo"
    android:versionCode="5"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.webtoapp.basetwo.MainMenuActivity"
            android:label="@string/main_menu_activity_title"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.webtoapp.basetwo.GameActivity"
            android:label="@string/game_activity_title"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:parentActivityName="com.webtoapp.basetwo.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GameActivity" />
        </activity>
        <activity
            android:name="com.webtoapp.basetwo.LevelSelectActivity"
            android:label="@string/level_select_activity_title"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:parentActivityName="com.webtoapp.basetwo.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LevelSelectActivity" />
        </activity>
        <activity
            android:name="com.webtoapp.basetwo.StatisticsActivity"
            android:label="@string/stats_activity_title"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:parentActivityName="com.webtoapp.basetwo.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StatisticsActivity" />
        </activity>
        <activity
            android:name="com.webtoapp.basetwo.InstructionsActivity"
            android:label="@string/instructions_activity_title"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:parentActivityName="com.webtoapp.basetwo.MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InstructionsActivity" />
        </activity>
        
        
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.mopub.mobileads.MraidBrowser"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
    </application>

</manifest>
